@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');


body
{
    font-family: 'Merriweather', serif !important;
    background-image: url('/images/bgBlue.jpg');
    color:white !important;
    overflow: hidden;
}

html 
{
  font-size: 14px;
}

@media (min-width: 768px) 
{
  html 
  {
    font-size: 16px;
  }
}

html 
{
  position: relative;
  min-height: 100%;
}